apiVersion: apps/v1
kind: Deployment
metadata:
  name: conversao-distancia
  labels:
    app: conversao-distancia
spec:
  replicas: 3
  selector:
    matchLabels:
      app: conversao-distancia
  template:
    metadata:
      labels:
        app: conversao-distancia

## CONFIGURAÇÃO PROMETHEUS
      annotations: 
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8000"

    spec:
      containers:
      - name: conversao-distancia
        image: gui3398/conversao-distancia:v2
        ports:
        - containerPort: 8000

---        

apiVersion: v1
kind: Service
metadata:
  name: conversao-distancia
  labels: 
  
# ANOTAÇÕES CRÍTICAS PARA FORÇAR O ALB E O PROTOCOLO HTTP
    app: conversao-distancia
  annotations:
    # 1. Força a criação de um ALB (Application Load Balancer)
    service.beta.kubernetes.io/aws-load-balancer-type: external
    service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
    
    # 2. Instruções de Health Check para o ALB
    # CRÍTICO: Define que o Health Check deve usar HTTP
    service.beta.kubernetes.io/aws-load-balancer-healthcheck-protocol: HTTP
    
    # CRÍTICO: Define o caminho de verificação de saúde (sua aplicação responde na raiz)
    service.beta.kubernetes.io/aws-load-balancer-healthcheck-path: /
    
    # Define a porta do Health Check como a porta do contêiner (8000)
    service.beta.kubernetes.io/aws-load-balancer-healthcheck-port: '8000'

spec:
  selector:
    app: conversao-distancia
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: LoadBalancer
