name: CI-CD

on:
  push:
    branches:
    - main
  workflow_dispatch:

  jobs:
  CI:
    name: Teste app
    runs-on: ubuntu-latest
    Steps:
    
    - name: Obtendo codigo do projeto
    - uses: actions/checkout@v6

    
