name: CI-CD

on:
  push:
    branches:
    - main
  workflow_dispatch:

jobs:
    CI:
      name: Teste app
      runs-on: ubuntu-latest
      steps:      
          - name: Obtendo codigo do projeto
            uses: actions/checkout@v6

          - name: Instalando Python
            uses: actions/setup-python@v6
            with:
              python-version: '3.13' 

          - name: Instalação das Dependencias 
            working-directory: ./src #define qual diretorio irá excutar o comando abaixo
            run: |
              python -m pip install --upgrade pip
              pip install -r requirements.txt
                
          - name: Execução dos testes
            working-directory: ./src
            run: |
              python -m pytest tests/ -v  
            
    #terraform   
