name: CI-CD conversao-distancia

on:
  push:
    branches:
    - main
  workflow_dispatch:

jobs:
    CI:
      name: Teste app
      runs-on: ubuntu-latest
      steps:      
          - name: Obtendo codigo do projeto
            uses: actions/checkout@v6

          - name: Instalando Python
            uses: actions/setup-python@v6
            with:
              python-version: '3.13' 

          - name: Instalação das Dependencias 
            working-directory: ./src #define qual diretorio irá excutar o comando abaixo
            run: |
              python -m pip install --upgrade pip
              pip install -r requirements.txt
                
          - name: Execução dos testes
            working-directory: ./src
            run: |
              python -m pytest tests/ -v  
            
# TERRAFORM

    terraform:
      name: Terraform Apply 
      runs-on: ubuntu-latest
      steps:  
          - name: Configure AWS Credentials
            uses: aws-actions/configure-aws-credentials@v5.1.1
            with:
                aws-region: us-east-1
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

          - name: Obtendo codigo Terraform
            uses: actions/checkout@v6
            
          - name: Instalando terraform
            uses: hashicorp/setup-terraform@v3
         

          - name: Terraform init
            run: terraform init
            working-directory: ./terraform
            
          - name: Terraform Apply
            run: terraform apply --auto-approve
            working-directory: ./terraform

            